<div class="container">

    <form role="form" ng-submit="submit(id)">

        <div class="form-group">
            <input type="hidden" class="form-control" id="longitude" placeholder="" ng-model="longitude">
            <input type="hidden" class="form-control" id="latitude" placeholder="" ng-model="latitude">
            <div place-marker latitude="latitude" longitude="longitude" style="height: 400px; width: 100%"></div>
        </div>

        <div class="form-group">
            <label for="description">Описание</label>
            <div id="description" name="description" text-angular ng-model="description"></div>
        </div>

        <div class="thumbnails row">
            <div ng-repeat="image in images"  class="col-md-3">
                <div class="thumbnail">
                    <img class="list-thumbnail img-thumbnail" ng-src="{{image['url']}}" image_id="{{image['id']}}" ><img>
                    <div class="caption">
                       <p><div class="btn btn-default" role="button" ng-click="deleteImage(image.id)">Удалить</div></p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="id" class="upload-image-select">
            <input type="file" ng-file-select="onFileSelect($files)" >
            <input type="file" ng-file-select="onFileSelect($files)" multiple>

            <div class="file-drop-area col-md-3" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                 ng-show="dropSupported">drop files here
            </div>
            <div class="clearfix"></div>
            <div ng-file-drop-available="dropSupported=true"
                 ng-show="!dropSupported">HTML5 Drop File is not supported!
            </div>
        </div>
        <button ng-if="id" style="margin-top: 30px" type="submit" class="btn btn-default">Save changes</button>
        <button ng-if="! id" style="margin-top: 30px" type="submit" class="btn btn-default">Continue</button>
    </form>
</div>