<div>
    <form>
        <table class="table">
            <tr>
                <td>
                    <label>User name:</label>
                </td>
                <td>
                    <input type="text" name="user"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Широта</label>
                </td>
                <td>
                    <input type="text" name="latitude"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Долгота</label>
                </td>
                <td>
                    <input type="text" name="longitude"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Описание</label>
                </td>
                <td>
                    <input type="text" name="description"/>
                </td>
            </tr>
        </table>
        <input type="hidden" name="id"/>

        <button type="submit" name="submitButton" value="Submit">Отправить</button>
    </form>
</div>