<div ng-controller="MapController">
    <ya-map class="map_class" ya-center="{{map.center}}" ya-zoom="{{map.zoom}}" ya-after-init="afterInit($target)"
            ya-event-boundschange="reloadMarkersOnBoundsChange($event)">
        <ya-toolbar ya-name="zoomControl"></ya-toolbar>
        <!-- загружаем текст сообщения в атрибут properties -->
        <geo-objects  ya-options="{preset:'twirl#blueIcon'}">
            <ya-geo-object ng-repeat="geoObject in geoObjects" index="$index+1" ya-source="geoObject"></ya-geo-object>
        </geo-objects>
    </ya-map>
</div>