<div class="container">

    <form class="form-signin" role="form" ng-submit="submit()">
        <h2 class="form-signin-heading">Please fill registration information</h2>
        <input type="text" class="form-control" placeholder="Login" required autofocus ng-model="login">
        <input type="text" class="form-control" placeholder="Email address" required autofocus ng-model="email">
        <input type="password" class="form-control" placeholder="Password" required ng-model="password">
        <input type="password" class="form-control" placeholder="Reenter password" required ng-model="reenter_password">
        <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

</div>