/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.container{
    /*width: 90%;*/
    margin: 20px auto 0;
}

.map_list_view{
    height: 100%;
}

ya-map{
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: block
}

.markers_list{
    height: 100%;
    overflow: auto;
}

.ta-editor{
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

/**
===============================LOGIN FORM =======================================
*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/**
==============================END LOGIN FORM =======================================
*/

/**
========================= PHOTOS THUMBNAILS ==================================
*/

.thumbnails .list-thumbnail {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
}

.list-avatar{
    width: 40px;
    height: 40px;
    float: left;
}

/**
========================= END PHOTOS THUMBNAILS ==================================
*
/

/*========================PHOTO UPLOADS================================================*/
.upload-image-select{
   margin-top: 30px;
}

.file-drop-area{
    height: 170px;
    border: 2px black solid;


}

/*========================END PHOTO UPLOADS============================================*/